<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>My Sandbox</title>
    <link href="style.css" rel="stylesheet" />
</head>
<script src="Scripts/angular.js"></script>
<script>
    function Customer($scope) {
        $scope.CustomerName = "";
        $scope.CustomerCode = "";
        $scope.Submit = function () {
            if ($scope.CustomerName.length == 0 || $scope.CustomerCode.length == 0) {
                alert("You must fill in both fields.");
            }
            else {
                alert("good data");
            }
        }
    }
    var myApp = angular.module("myApp", []);
    myApp.controller("Customer", Customer);
</script>
<body> 
    <div ng-app="myApp">
        <div id="CustScreen" ng-controller="Customer">
            Customer Name : <input ng-model="CustomerName" type="text" id="CustomerName" value="" /> Hello {{CustomerName}} <br />
            Customer Code : <input ng-model="CustomerCode" type="text" id="CustomerCode" value="" /> {{CustomerCode}} <br /> 
            <input type="button" ng-click="Submit()" value="Submit" />
        </div>
        <br />
    </div>
</body>
</html>
