@font-face {
    font-family: Cloud;
    src: url("/Cloud-Light.otf") format("opentype");
}
@font-face {
    font-family: Cloud;
    font-weight: bold;
    src: url("/Cloud-Bold.otf") format("opentype");
}
p {
    font-size:15px;    
}
body{
    background-color: #4ABDAC;
    color: #DFDCE3;
    text-align:center;
}
h1{
	font-family: Cloud;
    font-size:40px;
    margin-top: 0;
    margin-top:280px;
}

h2{
    font-family: Cloud;
    font-size:25px;
    font-weight: bolder;
    color: #DFDCE3;
}
.link-item{
    margin-left:10px;
    margin-right:10px;
    display: inline-block;
    color: #DFDCE3;
    text-decoration: none;
    font-size: 14px;
    font-weight:bold;
}
